<div class="button-grid">
    <button mat-raised-button (click)="Volver()">Volver</button>
    <button mat-raised-button routerLink="/Resultados/dado">Posiciones</button>
    <button mat-raised-button routerLink="/Chat">Chat</button>
    <button mat-raised-button routerLink="/QuienSoy">Sobre Mí</button>
    <button mat-raised-button color="warn" (click)="CerrarSession()">Cerrar Sesión</button>
    <i class="material-icons" (mouseover)="mostrarTexto()" (mouseleave)="ocultarTexto()">account_circle</i>
    <div *ngIf="mostrarTooltip" class="tooltip">{{usuario}}</div>
  </div>
<div class="container">
    <h1 class="titulo">Que Valor de Dado Va a Salir?</h1>
    <div [ngClass]="{'oculto': mostrarDado}" class="dadoMuestra">
        <img [src]="imagen0">
    </div>
    <div class="dado" [ngSwitch]="valorDelDado" *ngIf="mostrarDado">
        <div *ngSwitchCase="1">
            <img [src]="imagen1">
        </div>
        <div *ngSwitchCase="2">
            <img [src]="imagen2">
        </div>
        <div *ngSwitchCase="3">
            <img [src]="imagen3">
        </div>
        <div *ngSwitchCase="4">
            <img [src]="imagen4">
        </div>
        <div *ngSwitchCase="5">
            <img [src]="imagen5">
        </div>
        <div *ngSwitchCase="6">
            <img [src]="imagen6">
        </div>
    </div>
    <div class="botones">
        <button mat-raised-button color="accent" *ngFor="let letra of botones" (click)="CompararDado(letra)" 
            [disabled]="blockearBotones">
            {{ letra }}
        </button> 
    </div>
    <div class="sidebar" >
        <p class="puntos">Puntos: {{puntos}}</p>
        <p class="intentos">Intentos: {{intentos}}</p>
    </div>
    <button class="reintentar" mat-raised-button color="primary" (click)="ReiniciarJuego()" [disabled]="blockearJugarDeNuevo">Volver a Jugar</button>
</div>
