.contenedor {
    position: fixed;
    top: 55%;
    left: 49%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 100px;
    border-radius: 10px;
    text-align: center;
  }
  
  
.boton {
    display: block;
    padding: 40px 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 0;
    width: 100%;
}

.texto{
    text-align: center;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-right: 400px;
}

.input{
    padding: 40px 50px;
    font-size: 20px;
    width: 200%;
}

.button-grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.button-grid button {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 20px 30px;
  font-size: 20px;
}