.button-grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.1vw;
  display: flex;
  justify-content: flex-end;
}

.button-grid button {
  margin-left: 0.5vw;
  padding: 1vw 2vw;
  font-size: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.content {
padding-top: 50px; 
}

.material-icons{
margin-left: 1vw;
margin-top: 0.4vw;
font-size: 2.5vw; 
}

.tooltip {
position: absolute;
background-color: rgb(255, 255, 255);;
color: rgb(0, 0, 0);
padding: 5px;
border-radius: 3px;
z-index: 9999; 
margin-top: 3vw;
font-size: 1vw;
}

  .ahorcado-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: chocolate; 
    border-radius: 1.5vw;
    text-align: center;
    margin-top: 2vw;
    }

    .ahorcado-container .material-icons{
      margin-top: 0.4vw;
      font-size: 2vw;
      margin-right: 50vw; 
    }


    .palabra-oculta {
    font-size: 4vw;
    margin-bottom: 2vw;
    }
  
    .botones button {
      margin-left: 0.1vw;
      margin-bottom: 0.1vw;
      padding: 0.5vw 0.5vw;
      font-size: 2vw;
    }

.munieco {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 20vw; 
    position: relative;
    margin-left: 1vw;
    margin-bottom: 3vw;
}

.horca img {
    width: 16vw;
    margin-bottom: 1.5vw;
    margin-left: 0.5vw;
}

.cabeza img {
    width: 3vw; 
    position: absolute;
    top: 4%;
    left: 37.7%; 
    transform: translateX(-50%);
}

.torzo img {
    width: 0.5vw; 
    position: absolute;
    top: 18%; 
    left: 37.7%; 
    transform: translateX(-50%);
}

.brazos img {
    width: 5vw; 
    position: absolute;
    top: 17%; 
    left: 37.7%;  
    transform: translateX(-50%);
}

.piernas img {
    width: 4vw;
    position: absolute;
    top: 36%; 
    left: 37.7%; 
    transform: translateX(-50%);
}

.reintentar{
  display: block;
    padding: 1vw 2vw;
    font-size: 2vw;
    border: none;
    border-radius: 5vw;
    cursor: pointer;
    text-align: center;
    line-height: 0;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1.6vw;
}

.sidebar {
  width: 50vw; 
  margin-left: 1.6vw;

}

.puntos {
  color: #ffffff;
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 2vw; 
  padding: 0.5vw 1vw;
  font-size: 1vw; 
  text-align: left;
}

.pista{
  position: absolute;
      background-color: rgb(255, 255, 255);;
      color: rgb(0, 0, 0);
      padding: 5px;
      border-radius: 3px;
      z-index: 9999; 
      font-size: 20px;
}
