.button-grid {
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.5);;
      padding: 10px;
      display: flex;
      justify-content: flex-end;
  }
  
  .button-grid button {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 20px 30px;
    font-size: 20px;
  }
  
  .content {
    padding-top: 50px; 
  }
  
  .material-icons{
    margin-left: 10px;
    margin-top: 2px;
    font-size: 40px; 
  }

  .ahorcado-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 10px;
    text-align: center;
    margin-top: 25px;
    }


    .material-icons{
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    }

    .tooltip {
      position: absolute;
      background-color: rgb(255, 255, 255);;
      color: rgb(0, 0, 0);
      padding: 5px;
      border-radius: 3px;
      z-index: 9999; 
      margin-top: 60px;
      font-size: 20px;
    }
  

    .palabra-oculta {
    font-size: 70px;
    margin-bottom: 20px;
    }
   
    .botones {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    }
  
    .botones button {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 20px 30px;
    font-size: 20px;
    }
  
    .resultado {
    font-size: 18px;
    }

.munieco {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 400px; 
    position: relative;
}

.horca img {
    width: 300px;
}

.cabeza img {
    width: 60px; 
    position: absolute;
    top: 19%;
    left: 37%; 
    transform: translateX(-50%);
}

.torzo img {
    width: 10px; 
    position: absolute;
    top: 32%; 
    left: 37%; 
    transform: translateX(-50%);
}

.brazos img {
    width: 100px; 
    position: absolute;
    top: 32%; 
    left: 37%;   
    transform: translateX(-50%);
}

.piernas img {
    width: 70px;
    position: absolute;
    top: 52%; 
    left: 37%;  
    transform: translateX(-50%);
}

.reintentar{
  margin-top: 10px;
  display: block;
  padding: 20px 30px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 0;
  margin-left: 15px;
  margin-bottom: 10px;
}

.sidebar {
  width: 95%; 
  margin-left: 15px;

}

.puntos {
  color: #ffffff;
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 20px; 
  padding: 10px 20px;
  font-size: 18px; 
  text-align: left;
}

.pista{
  position: absolute;
      background-color: rgb(255, 255, 255);;
      color: rgb(0, 0, 0);
      padding: 5px;
      border-radius: 3px;
      z-index: 9999; 
      font-size: 20px;
}