.button-grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.1vw;
  display: flex;
  justify-content: flex-end;
}

.button-grid button {
margin-left: 0.5vw;
  padding: 1vw 2vw;
  font-size: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.content {
padding-top: 50px; 
}

.material-icons{
margin-left: 1vw;
margin-top: 0.4vw;
font-size: 2.5vw; 
}

.tooltip {
position: absolute;
background-color: rgb(255, 255, 255);;
color: rgb(0, 0, 0);
padding: 5px;
border-radius: 3px;
z-index: 9999; 
margin-top: 3vw;
font-size: 1vw;
}

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: chocolate; 
    padding: 1vw;
    border-radius: 1vw;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.imagenCarta{
    width: 13vw; 
    height: auto;
    -webkit-animation: flip-vertical-right 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
	        animation: flip-vertical-right 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}


.cards div {
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1vw; 
}

.botones {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.botones button {
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    padding: 1vw 2vw;
    font-size: 2vw;
}

.titulo{
  font-size: 2.5vw;
}

.puntos {
  color: #ffffff;
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 2vw; 
  padding: 0.5vw 1vw;
  font-size: 1vw; 
  text-align: left;
}

.estadoDelJuego {
    width: 100vw; 
  }

.vidas {
  color: #ffffff;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 2vw; 
  padding: 0.5vw 1vw;
  font-size: 1vw; 
  text-align: left;
}


.rejugar{
  display: block;
  padding: 1vw 2vw;
  font-size: 2vw;
  border: none;
  border-radius: 5vw;
  cursor: pointer;
  text-align: center;
  line-height: 0;
  margin-top: 1vw;
}

 @-webkit-keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  @keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }

  