.contenedor {
    position: fixed;
    top: 55%;
    left: 49%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 100px;
    border-radius: 10px;
    text-align: center;
  }
  
  
.boton {
    display: block;
    padding: 40px 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 0;
    width: 100%;
}

.texto{
    text-align: center;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-right: 400px;
}

.input{
    padding: 40px 50px;
    font-size: 20px;
    width: 200%;
}

@media (max-width: 1366px) {
    .contenedor {
        width: 80%; /* Ajuste de ancho en notebooks */
        padding: 3vw; /* Reduce el padding en pantallas pequeñas */
    }

    h1 {
        font-size: 1.8rem; /* Ajuste del tamaño del título */
    }

    .input{
        margin-left: 160px;
        width: 100%;
    }

    .boton{
        width: 50%;
        margin-left: 270px;
    }
}

@media (max-width: 1024px) {
    .contenedor {
        width: 80%; /* Aumenta el ancho del contenedor en pantallas más pequeñas */
        padding: 2.5vw;
    }

    h1 {
        font-size: 1.6rem;
    }

    .input{
        margin-left: 160px;
        width: 100%;
    }

    .boton{
        width: 40%;
        margin-left: 260px;
    }
}