.button-grid {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.5);;
      padding: 10px;
      display: flex;
      justify-content: flex-end;
  }
  
  .button-grid button {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 20px 30px;
    font-size: 20px;
  }
  
  .content {
    padding-top: 50px; 
  }
  
  .material-icons{
    margin-left: 10px;
    margin-top: 2px;
    font-size: 40px; 
  }
  
  .tooltip {
    position: absolute;
    background-color: rgb(255, 255, 255);;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 3px;
    z-index: 9999; 
    margin-top: 60px;
    font-size: 20px;
  }
  
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    }
    
    
    .info {
      display: flex;
      flex-direction: column;
    }
    
    .contenedor-imagen {
      margin-top: 16px;
      margin-bottom: 16px;
    }
    
    img {
      width: 400px;
      height: auto;
      margin-bottom: 8px;
      -webkit-animation: flip-scale-2-ver-left 1s linear reverse both;
              animation: flip-scale-2-ver-left 1s linear reverse both;
    }

@-webkit-keyframes flip-scale-2-ver-left {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  50% {
    -webkit-transform: translateX(-50%) rotateY(90deg) scale(2);
            transform: translateX(-50%) rotateY(90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateX(-100%) rotateY(180deg) scale(1);
            transform: translateX(-100%) rotateY(180deg) scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}
@keyframes flip-scale-2-ver-left {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  50% {
    -webkit-transform: translateX(-50%) rotateY(90deg) scale(2);
            transform: translateX(-50%) rotateY(90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateX(-100%) rotateY(180deg) scale(1);
            transform: translateX(-100%) rotateY(180deg) scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}

  
    .juego-propio mat-label{
      font-size: 30px;
      background-color: rgba(0, 0, 0, 0.5); 
      border-radius: 10px;
      color: white;
      width: 100%;
    } 
  
    p{
      font-size: 20px;
    }
  
    .data-list {
      list-style-type: none;
      padding-left: 0;
      color: rgb(0, 0, 0);
    }
    
    .data-item {
      opacity: 0;
      transform: translateY(20px);
      animation: fadeInUp 0.5s ease forwards;
      font-size: 30px; 
      border-radius: 10px;
    }
    
    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    .data-item:nth-child(1) {
      animation-delay: 0.3s;
    }
    
    .data-item:nth-child(2) {
      animation-delay: 0.6s;
    }
    
    .data-item:nth-child(3) {
      animation-delay: 0.9s;
    }