.button-grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.1vw;
  display: flex;
  justify-content: flex-end;
}

.button-grid button {
margin-left: 0.5vw;
  padding: 1vw 2vw;
  font-size: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.content {
padding-top: 50px; 
}

.material-icons{
margin-left: 1vw;
margin-top: 0.4vw;
font-size: 2.5vw; 
}

.tooltip {
position: absolute;
background-color: rgb(255, 255, 255);;
color: rgb(0, 0, 0);
padding: 5px;
border-radius: 3px;
z-index: 9999; 
margin-top: 3vw;
font-size: 1vw;
}
  
  .container {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: chocolate; 
    padding: 2vw;
    border-radius: 1vw;
    text-align: center;
    margin-top: 3vw;
    }
    
    
    .info {
      display: flex;
      flex-direction: column;
    }
    
    .contenedor-imagen {
      margin-top: 1vw;
      margin-bottom: 1vw;
    }
    
    img {
      width: 15vw;
      height: auto;
      margin-bottom: 1vw;
      -webkit-animation: flip-scale-2-ver-left 1s linear reverse both;
              animation: flip-scale-2-ver-left 1s linear reverse both;
    }

    .juego-propio{
      background-color: rgb(0, 0, 0);
      border-radius: 1vw; 
      padding: 0.5vw;
    }

    .juego-propio mat-label{
      font-size: 2vw;
      border-radius: 1vw;
      color: rgb(255, 255, 255);
      width: 80%;
    } 
  
    p{
      color: rgb(255, 255, 255);
      font-size: 1vw;
    }
  
    .data-list {
      list-style-type: none;
      padding-left: 0;
    }
    
    .data-item {
      opacity: 0;
      transform: translateY(20px);
      animation: fadeInUp 0.5s ease forwards;
      font-size: 2vw; 
    }

    .titulo{
      font-size: 3vw; 
    }
    
    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    .data-item:nth-child(1) {
      animation-delay: 0.3s;
    }
    
    .data-item:nth-child(2) {
      animation-delay: 0.6s;
    }
    
    .data-item:nth-child(3) {
      animation-delay: 0.9s;
    }

    @-webkit-keyframes flip-scale-2-ver-left {
      0% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
                transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 0% 50%;
                transform-origin: 0% 50%;
      }
      50% {
        -webkit-transform: translateX(-50%) rotateY(90deg) scale(2);
                transform: translateX(-50%) rotateY(90deg) scale(2);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
      }
      100% {
        -webkit-transform: translateX(-100%) rotateY(180deg) scale(1);
                transform: translateX(-100%) rotateY(180deg) scale(1);
        -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
      }
    }
    @keyframes flip-scale-2-ver-left {
      0% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
                transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 0% 50%;
                transform-origin: 0% 50%;
      }
      50% {
        -webkit-transform: translateX(-50%) rotateY(90deg) scale(2);
                transform: translateX(-50%) rotateY(90deg) scale(2);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
      }
      100% {
        -webkit-transform: translateX(-100%) rotateY(180deg) scale(1);
                transform: translateX(-100%) rotateY(180deg) scale(1);
        -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
      }
    }